@model POE_PART1.Models.Category

@{
    ViewData["Title"] = "Details";
}
<style>


    .container {
        background-color:white;
        background-repeat: no-repeat;
        background-size: 1150px 800px;
        padding: 20px; /* Add padding for spacing inside the container */
        border: 5px solid #ff7f00; /* Add a border for visualization */
    }
</style>

<h1>Details</h1>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CategoryName">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
